@font-face {
    font-family: "Dumbledore";
    src: local("Dumbledore"), url("../fonts/dum1.ttf") format("truetype");
    font-style: normal;
}

body {
    font-family: "Dumbledore";
}

div.main_information {
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

a {
    color: black;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

p.post {
    font-size: 1.7rem;
}

p.date {
    margin-top: 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5)
}

hr {
    color: rgba(0, 0, 0, 0.2);
}